* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    padding: 60px;
}

.bg-lightblue {
    background-color: lightblue;
    padding: 10px;
}

.bg-yellow {
    background-color: yellow;
}

.bg-pink {
    background-color: pink;
}

.bg-aqua {
    background-color: aqua;
}

.bg-grey {
    background-color: grey;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.height100 {
    height: 100px;
}

.row {
    display: flex;
    flex-basis: 100%;
    border: 1px dashed;
    flex-wrap: wrap;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);    
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
   
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
 
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}


.col-3-right {
    width: calc((100% / 12) * 3);
}


.bg-blue {
    background-color: blue;
    padding: 20px;
}

.row-pink {
    display: flex;
    justify-content: center;
}

.just-center {
    justify-content: center;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: green;
    min-height: 200px;
}

.height150 {
    min-height: 150px;
}

.bg-darkgray {
    background-color: rgb(58, 58, 58);
}

.bg-marine {
    background-color: aquamarine;
}

.border-white {
    border: 1px solid;
    color: white;
}

.black {
    color: black;
    background-color: pink;
}

