* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    padding: 60px;
}

.bg-lightblue {
    background-color: lightblue;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 1px dashed;
    background-color: yellow;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.col-3 {
 flex-grow: calc(100% / 3);
}